
.genre-img{
    width: 100%;
    height: 22vh;  
    object-fit: cover;
}
@media screen and (min-width: 768px) {
    .genre-img{
         height: 27vh;  
    }
    .genresDivDiv{
        margin-left:15%;
        margin-right:15%;
    }
} 