.ccc_container {
    padding-top: 31px;
    width: 100%;
    max-width: 1037px;
    margin: 0 auto;
    display: grid;
    grid-gap: 12px;
    gap: 12px;
    align-items: top;
    grid-auto-flow: column;
    grid-template-columns: 328px auto;
}