#features_Section {
    padding-top: 47.5px;
    padding-bottom: 42px;
    width: 100%;
    max-width: 1037px;
    margin: 0 auto;
}
/* .dark-mode  */
#features_Section .ccc_container {
    background-color: #030e2e ;
    box-shadow: 0 2px 14px 0 rgb(0 0 0 / 22%);
    transition: all 0.2s ease-in-out;
}
#features_Section .ccc_container .ccc_column {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 15px;
    gap: 15px;
    justify-content: left;
}
#features_Section .ccc_container .ccc_column img {
   
    overflow: visible;
   -webkit-filter: drop-shadow(0 2px 4px rgba(36,8,128,.15));
}
#features_Section .ccc_container .ccc_column p {
    font-size: 18px;
    font-weight: 700;
    color: white;
    max-width: 125px;
    padding-top: 3px;
    line-height: 1.23529;
    margin: 0 auto ;
    text-align: left;
}
#features_Section .ccc_container {
    background: var(--components-dark-theme);
    padding: 26px 57px 23px;
    display: grid;
    grid-auto-flow: column;
    -webkit-border-radius: 7.2px;
  
}
@media screen and (max-width:720px) {
    #features_Section {
        padding-top: 32.5px;
      
    }
    #features_Section .ccc_container {
        padding: 22px 67px 24px 45px;
        grid-template-columns: 1fr !important;
        grid-auto-rows: 1fr;
        grid-gap: 27px !important;
        gap: 27px !important;
    }
}

@media screen and (max-width:768px) {
    #features_Section {
        width: 95vw !important ;
    }
}

@media screen and (max-width:780px) {
  
    #features_Section .ccc_container {
        align-items: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-auto-flow: unset;
        justify-content: center;
        grid-gap: 36px;
        gap: 36px;
    }
    #features_Section .ccc_container .ccc_column {
        justify-content: center;
    }
}
@media screen and (max-width:1080px) {
    #features_Section {
        width: 90vw ;
    }
}