#ccc_footer {
    padding-top: 27.5px;
}

#ccc_footer .ccc_component {
    padding: 14px;
    background-color: #030e2e;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    color: #fff;
    transition-duration: .3s;
    transition-timing-function: ease;
    transition-property: transform,opacity,background-color,color;
}
@media screen and (max-width:720px) {
    #ccc_footer {
        padding-top: 25px;
    }
    #ccc_footer .ccc_component {
        padding: 23px 10px;
    }
}