#history_Section{
    padding-top: 42px;
    padding-bottom: 30.5px;
    width: 100%;
    max-width: 1037px;
    margin: 0 auto;
}

#history_Section .ccc_container {
    background: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 26px 56px 27px 53px;
    gap: 50px 43px;
   
    box-shadow: 0 2px 14px 0 rgb(0 0 0 / 22%);
    background-color: #030e2e;
    -webkit-border-radius: 7.2px;
}
#history_Section .ccc_container .ccc_elem {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-gap: 4px;
    gap: 4px;
}
#history_Section .ccc_container .ccc_elem .ccc_rectangle {
    width: 200px;
    height: 57px;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgb(8 38 168 / 15%);
    background-color: #333e5c;
    color: #fff;

    font-size: 35px;
    font-weight: 700;
   
    text-align: center;
    display: grid;
    align-items: center;
}
#history_Section .ccc_container .ccc_elem .ccc_title {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    line-height: 1.1875;
    text-align: center;
    margin: 0 ;
}
@media screen and (max-width:1080px) {
    #history_Section{
        width: 90vw;
    }
    #history_Section .ccc_container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 36px 36px;
        gap: 36px 36px;
        padding: 36px 56px 37px 53px;
    }
}
@media screen and (max-width:720px) {
    #history_Section {
        padding-top: 32.5px;
        padding-bottom: 32.5px;
    }
     #history_Section .ccc_container {
        grid-template-columns: 1fr !important;
        grid-template-rows: 1fr !important ;
        padding: 24px 26px 29px !important;
        grid-gap: 17px !important;
        gap: 17px !important;
    }
    #history_Section .ccc_container .ccc_elem .ccc_rectangle {
      width: auto;
    }
   
    #history_Section .ccc_container .ccc_elem {
        grid-auto-columns: 1fr;
    }
}
@media screen and (max-width:768px) {
    #history_Section{
        width: 95vw;
    }
}
@media screen and (max-width: 825px){
    #history_Section .ccc_container {
        grid-template-columns: 1fr 1fr  ;
        grid-template-rows: 1fr 1fr 1fr 1fr ;
        grid-gap: 36px 20px ;
        gap: 36px 20px ;
}
}
