#info2_Section{
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    width: 100%;
    max-width: 1037px;
    margin: 0 auto;
}
#info2_Section .ccc_container {
    padding: 39px 59px 29px 88px;
    box-shadow: 0 2px 14px 0 rgb(0 0 0 / 22%);
    background-color: #030e2e;
    display: grid;
    align-items: center;
    grid-auto-flow: column;
    grid-template-columns: 43% 44.8%;
    justify-content: space-between;
    grid-gap: 12.2%;
    gap: 12.2%;
  
    border-radius: 7.2px;
    -webkit-border-radius: 7.2px;
    transition: all 0.3s ease; 
    
}
#info2_Section .ccc_container .ccc_column .ccc_title {
    font-size: 40px;
    font-weight: 900;
    line-height: 1.25;
    color: #4a8aef;
    margin-bottom: 25px;
    text-align: left;
}
#info2_Section .ccc_container .ccc_column .ccc_title span {
    display: block;
    color: #fff;
}
#info2_Section .ccc_container .ccc_column .ccc_info {
    font-size: 17px;
    line-height: 1.59;
    color: #fff;
    margin: 0 0 16px;
    text-align: left;
    font-weight: 400;
}
#info2_Section .ccc_container .ccc_column .ccc_info2 {
    justify-content: left;
}
#info2_Section .ccc_container .ccc_column img {
    width: 100%;
}
#info2_Section .ccc_container .ccc_column:last-child {
    grid-column-start: 1;
    grid-row-start: 1;
}
#info2_Section .ccc_container .ccc_column .ccc_app {
    max-width: 100%;
}


@media screen and (max-width:1080px){
    #info2_Section{
        width: 90vw
    }
}
@media screen and (max-width:825px){
    #info2_Section .ccc_container {
        grid-gap: 7px;
        gap: 7px;
        padding: 31px 15px 39px 32px;
        grid-template-columns: 45% auto;
    }
}
@media screen and (max-width:768px) {
    #info2_Section{
        width: 95vw
    }
}

@media screen and (max-width:720px) {
    #info2_Section{
        padding-top: 32.5px;
        padding-bottom: 32.5px;
    }
    #info2_Section .ccc_container {
        padding: 25px 11px 38px 12px;
        grid-template-columns: unset;
        grid-auto-flow: row;
        grid-gap: 20px;
        gap: 20px;
    }
    #info2_Section .ccc_container .ccc_column {
        order: 2 ;
    }
    #info2_Section .ccc_container .ccc_column .ccc_title {
        font-size: 35px;
        line-height: 1.29;
    }
    #info2_Section .ccc_container .ccc_column .ccc_info {
        margin: 0 0 25px;
    }
    #info2_Section .ccc_container .ccc_column .ccc_discover {
        margin: 0 auto;
    }
    #info2_Section .ccc_container .ccc_column:last-child {
        order: 1;
    }
    #info2_Section .ccc_container .ccc_column .ccc_info2 {
        justify-content: center;
    }
}