body.light-mode{
   background: var(--bg-light-shadow) var(--bg-light-img) no-repeat ;
   transition: all 0.3s ease; 
}
body.light-mode .MuiAppBar-root{
    background-color: #112b79;
    transition: all 0.3s ease; 
}
body.light-mode #features_Section .ccc_container{
    background-color: white;
    transition: all 0.3s ease; 
    
}
body.light-mode #features_Section .ccc_container .ccc_column p{
    color: #11255d;
}
body.light-mode #history_Section .ccc_container{
    background-color: white;
    transition: all 0.3s ease; 
}
body.light-mode #history_Section .ccc_container .ccc_elem .ccc_rectangle {
   
    box-shadow: 0 2px 4px 0 rgb(8 38 168 / 15%);
    background-color: #4e91f3;
   
}
body.light-mode #history_Section .ccc_container .ccc_elem .ccc_title {
   
    color: #11255d;
   
}
body.light-mode #uptime_Section .ccc_container{
    background-color: white;
    transition: all 0.3s ease; 
}
body.light-mode #uptime_Section .ccc_container .ccc_rows .ccc_name {
    
    color: #0f245a;
}
body.light-mode #info1_Section .ccc_container{
    background-color: white;
    transition: all 0.3s ease; 
}
body.light-mode #info1_Section .ccc_container .ccc_column .ccc_title span {
   
    color: #11255d;
}
body.light-mode #info1_Section .ccc_container .ccc_column .ccc_info {
   
    color: #11255d; 
}
body.light-mode  .dolimg {
   
    filter: contrast(0.5);
}

body.light-mode #info2_Section .ccc_container{
    background-color: white;
    transition: all 0.3s ease; 
}
body.light-mode #info2_Section .ccc_container .ccc_column .ccc_title span {
   
    color: #11255d;
}
body.light-mode #info2_Section .ccc_container .ccc_column .ccc_info {
   
    color: #11255d;
    
    
}


body.light-mode #info3_Section .ccc_container{
    background-color: white;
    transition: all 0.3s ease; 
}
body.light-mode #info3_Section .ccc_container .ccc_column .ccc_title span {
   
    color: #11255d;
}
body.light-mode #info3_Section .ccc_container .ccc_column .ccc_info {
   
    color: #11255d;
    
    
}
body.light-mode .ccc_joinus p.black {
    color: #c7c7c7;
    opacity: 1;
}

body.light-mode .ccc_review {
   
    background-color: #ffffff;
}
body.light-mode .ccc_review .ccc_body .ccc_title {
   
    color: #2e4270 !important;
   
}
body.light-mode .ccc_review .ccc_body .ccc_subtitle {
   
    color: #2e4270 !important;
   
}
body.light-mode .ccc_review .ccc_footer .ccc_author {
 
    color: #2e4270 !important;
}
body.light-mode .ccc_review .ccc_head .ccc_date {
   
    color: #2e4270 !important;
    
}
body.light-mode #ccc_guarantee .ccc_container {
   
    box-shadow: 0 2px 14px 0 rgb(0 0 0 / 22%);
    background-color: white;
    transition: all 0.3s ease; 
  
}
body.light-mode #ccc_guarantee .ccc_container .ccc_column .ccc_title {
    
    color: #2e4270 !important;
   
}
body.light-mode  #ccc_guarantee .ccc_container .ccc_column .ccc_subtitle {
    color: #2e4270 !important;
}
body.light-mode #darkGurantee{
    display: none;
}
body.light-mode #lightGurantee{
    display: block;
}


body.light-mode .accordion{
    transition: all .3s ease;
    background: white;
}
body.light-mode .accordion-visible {
    background: #ffffff;
    color: #0f245a;
    transition: all 0.3s ease; 
}
body.light-mode  .accordion-visible img {
   
    filter: contrast(0.1);
}
body.light-mode  .accordion-toggle p {
   
    color: #0f245a;
}




/* Channel Light Mode CSS */

body.light-mode .leftPanel {
    background-color: white;
    transition: all 0.3s ease; 
   
}

body.light-mode .combo{
    background-color: white !important;
}

body.light-mode .inputText{
    color: black;
    width: 100%;
}
body.light-mode .rightPanelDesktop {
    background-color: white !important;
    transition: all 0.3s ease; 
}

body.light-mode .typographyChannels {
    color: black !important;
    transition: all 0.3s ease; 
   
}

body.light-mode .typographyCombo {
    color: black !important;
    transition: all 0.3s ease; 
   
}

body.light-mode .comboBox {
    background-color: white;
    transition: all 0.3s ease; 
   
}

body.light-mode .divSelected {
    background-color: #112b79;
    transition: all 0.3s ease; 
   
}
body.light-mode .divSelected .MuiTypography-root{
    color: white !important;
}
body.light-mode .MuiSvgIcon-root{
    color: white !important;
}
body.light-mode .divUnselectedColored {
    
    background: #ebedf1;
    transition: all 0.3s ease; 
}
body.light-mode .divUnselectedColored .MuiTypography-root{
    color: black !important;
}
body.light-mode .ccc_searchBar {
   
    background-color: #ebedf1;
    transition-duration: .3s;
    transition-timing-function: ease;
    transition-property: transform,opacity,background-color,color;
}
body.light-mode .iconCss {
   
    color: rgb(175 176 179);
}
body.light-mode .ccc_column .ccc_channelList .MuiListItem-root{
    background: #ebedf1;
    transition: all 0.3s ease; 
}


/* end of channel */






body.light-mode #reseller_dark_head{
display: none;
}
body.light-mode #reseller_light_head{
    display: block ;
}

body.light-mode #ccc_reason .ccc_container {
    
    
    background-color: white;
    transition: all .3s ease ;
}
body.light-mode #ccc_reason .ccc_container .ccc_header .ccc_title {
    
    color: #112b79;
    
}
body.light-mode #ccc_reason .ccc_container .ccc_header .ccc_subtitle {
   
    color: #112b79;
    
}
body.light-mode #ccc_reason .ccc_container .ccc_reasons .ccc_reason .ccc_info .ccc_title {
   
    color: #112b79;
    
}
body.light-mode #ccc_reason .ccc_container .ccc_reasons .ccc_reason .ccc_info .ccc_subtitle {
   
    color: #112b79;
    
}
body.light-mode #ccc_pricing .ccc_container {
   
    background-color: #fff;
  
    box-shadow: 0 20px 38px -2px rgb(14 31 53 / 6%), 0 16px 24px -1px rgb(14 31 53 / 12%), 0 10px 20px 0 rgb(14 31 53 / 12%), 0 5px 10px 0 rgb(14 31 53 / 6%);
   
}
body.light-mode #ccc_pricing .ccc_container .ccc_head .ccc_title {
   
    color: #112b79;
}
body.light-mode #ccc_pricing .ccc_container .ccc_head .ccc_subtitle {
   
    color: #112b79;
   
}
body.light-mode #ccc_pricing .ccc_container .ccc_head .ccc_pricing .ccc_price .ccc_info {
   
    color: #112b79;
   
}
body.light-mode #ccc_pricing .ccc_container .ccc_head .ccc_pricing .ccc_price img {
   
    filter: contrast(0.1);
}
body.light-mode  #ccc_pricing .ccc_container .ccc_cost .ccc_title {
  
    color: #112b79;
}



body.light-mode #ccc_footer .ccc_component {
   
    background-color: #112b79;
    transition: all 0.3s ease; 
   
}
body.light-mode #mob-navbar{
    background-color: #112b79;
    transition: all 0.3s ease; 
}


/* setup light mode  */


body.light-mode .bottomContainer{
    background-color: white;
}
body.light-mode .bottomContainerResponsive{
    background-color: white;
}

body.light-mode .ccc_box .ccc_subtitle{
    color: var(--components-light-theme) !important ;
}
body.light-mode .ccc_box .ccc_info{
    color: var(--components-light-theme) !important ;
}
body.light-mode .ccc_box .ccc_notice{
    color: var(--components-light-theme) !important ;
}
body.light-mode .ccc_name{
    color: var(--components-light-theme) !important ;
}
body.light-mode .bottomContainer .ccc_box .ccc_name img{
   filter: brightness(0.6) ;
}
body.light-mode .ccc_box  .ccc_title{
    color: var(--components-light-theme);
}
body.light-mode .unSelectedCard{
    background-color:white !important;
   
}
body.light-mode .unSelectedCard :hover{
    background-color: var(--components-light-theme);
}
body.light-mode .unSelectedCard :hover  .MuiTypography-root{
    color: white !important;
}
body.light-mode .unSelectedCard :hover .centerContent svg{
    color: white !important;
}
body.light-mode .unSelectedCard .MuiTypography-root{
    color: var(--components-light-theme) !important;
}
body.light-mode .centerContent svg{
    color: var(--components-light-theme);
}

body.light-mode .selectedCard{
    background-color: var(--components-light-theme);
}
body.light-mode .selectedIcon{
    color : white !important;
}
body.light-mode #ccc_intro .ccc_subtitle{
    color: white !important;
}

body.light-mode .ccc_choice .ccc_container .ccc_img{

}

/* body.light-mode .ccc_choice{
    background-color:white ;
}
body.light-mode .ccc_choice .ccc_container .ccc_title{
    color: black;
}
body.light-mode .ccc_choices .ccc_choice :hover{
    background-color: var(--components-light-theme);
    transition: all .2s ease-in;
}
body.light-mode .ccc_choices .ccc_choice :hover .ccc_img{
    background-color: transparent;
}
body.light-mode .ccc_choice :hover  .ccc_title{
    color: white;
} */
body.light-mode .iconStyle svg{
    color: var(--components-light-theme);
}

body.light-mode .ccc_choice  .ccc_title{
    color: var(--components-light-theme);
}
/* body.light-mode #webDark,#userIconDark,#checkoutDark{
    display: none ;
    }
    
body.light-mode #webLight,#userIconLight,#checkoutLight{
        display: block !important ;
        } */
        body.light-mode .ccc_choice:hover {
            background-color: var(--components-light-theme);
        }
        body.light-mode .ccc_choice :hover  .ccc_img{
            filter: invert(99%) sepia(96%) saturate(2%) hue-rotate(59deg) brightness(104%) contrast(100%);
        }

        body.light-mode #webLight{
            display: block !important;
        }
        body.light-mode #webDark{
            display: none;
        }
        body.light-mode #userIconLight{
            display: block !important;
        }
        body.light-mode  #userIconDark{
            display: none;
        }

        body.light-mode #checkoutLight{
            display: block !important;
        }
        body.light-mode  #checkoutDark{
            display: none;
        }