#ccc_reviews {
    padding-top: 50px;
    padding-bottom: 39.5px;
    overflow-x: hidden;
}
#ccc_reviews .ccc_container {
    width: 100%;
    max-width: 1037px;
    margin: 0 auto;
}
#ccc_reviews .ccc_container .ccc_stars {
    display: grid;
    grid-auto-flow: column;
    width: 176px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 29px;
}
img {
    border-style: none;
}
#ccc_reviews .ccc_container .ccc_title {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: .78px;
    color: #fff;
    text-align: center;
    margin: 0 auto 33px;
}
#ccc_reviews .ccc_container .ccc_subtitle {
    font-weight: 400;
    font-size: 17px;
    text-align: center;
    color: #fff;
    max-width: 602px;
    margin: 0 auto;
}
#ccc_reviews .ccc_container .ccc_summary {
    display: grid;
    grid-auto-flow: column;
    align-items: flex-end;
    grid-gap: 25px;
    gap: 25px;
    justify-content: center;
    padding-bottom: 45.27px;
}
#ccc_reviews .ccc_container .ccc_summary .ccc_word {
    font-size: 21.6px;
    font-weight: 900;
    color: #fff;
}
#ccc_reviews .ccc_container .ccc_summary .ccc_truststars {
    display: grid;
    grid-auto-flow: column;
    width: 161px;
    justify-content: space-between;
}
.ccc_getAccess {
    max-width: 522px;
    margin: 0 auto;
    display: grid;
    grid-gap: 12px;
    gap: 12px;
}
.ccc_getAccess .ccc_btn {
    width: 100%;
    border-radius: 7px;
    box-shadow: 0 12px 24px 0 rgb(0 0 0 / 9%);
    background-color: #13cd7d;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 10px;
    text-align: left;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    padding: 20px 25px 21px 123px;
    border: none;
    cursor: pointer;
}
.ccc_getAccess .ccc_btn img {
    transition-duration: .3s;
    transition-timing-function: ease;
    transition-property: transform,opacity,background-color,color;
}
.ccc_getAccess .ccc_notice {
    font-size: 13px;
    text-align: center;
    color: #fff;
    font-weight: 400;
}
#reviewSlick{
    width: calc(100% + 27px);
    max-width: 1064px;
    margin: 0 auto;
    position: relative;
    right: 13.5px;
}
/* #ccc_reviews .ccc_container {
    width: 100%;
    max-width: 1037px;
    margin: 0 auto;
} */
#reviewSlick .ccc_arrow:first-child {
    padding: 10px 18px 10px 14px;
    left: -64.5px;
    z-index: 0;
}
#reviewSlick .ccc_arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    z-index: 1000;
    cursor: pointer;
    height: unset;
    min-width: unset;
    background: transparent;
    box-shadow: unset;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}
.v-btn:before {
    background-color: currentColor;
    border-radius: inherit;
    bottom: 0;
    color: inherit;
    content: "";
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity .2s cubic-bezier(.4,0,.6,1);
}
.v-btn.v-size--default, .v-btn.v-size--large {
    font-size: .875rem;
}
.v-btn {
    align-items: center;
    border-radius: 4px;
    display: inline-flex;
    flex: 0 0 auto;
    font-weight: 500;
    letter-spacing: .0892857143em;
    justify-content: center;
    outline: 0;
    position: relative;
    text-decoration: none;
    text-indent: 0.0892857143em;
    text-transform: uppercase;
    transition-duration: .28s;
    transition-property: box-shadow,transform,opacity;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}
.v-btn:before {
    background-color: currentColor;
    border-radius: inherit;
    bottom: 0;
    color: inherit;
    content: "";
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity .2s cubic-bezier(.4,0,.6,1);
}
.v-btn__content {
    align-items: center;
    color: inherit;
    display: flex;
    flex: 1 0 auto;
    justify-content: inherit;
    line-height: normal;
    position: relative;
    transition: inherit;
    transition-property: opacity;
}
#reviewSlick .ccc_arrow:first-child img {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
   
}


#reviewSlick .swiper-container {
    overflow: visible;
    padding-top: 46px;
    padding-bottom: 41.7px;
}
.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}
.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
    transition-duration: 0ms;
    transform: translate3d(-1454.67px, 0px, 0px);
}
#reviewSlick .swiper-container .swiper-slide {
    transition: opacity .3s cubic-bezier(.25,.8,.5,1);
    -webkit-transition: opacity .3s cubic-bezier(.25,.8,.5,1);
    -moz-transition: .3s opacity cubic-bezier(.25,.8,.5,1);
    -ms-transition: .3s opacity cubic-bezier(.25,.8,.5,1);
    -o-transition: .3s opacity cubic-bezier(.25,.8,.5,1);
    opacity: 0;
    width: 336.667px;
    margin-right: 27px;
}
#ccc_reviews .ccc_container {
    width: 100%;
    max-width: 1037px;
    margin: 0 auto;
}
.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
}
#reviewSlick .ccc_arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    z-index: 1000;
    cursor: pointer;
    height: unset;
    min-width: unset;
    background: transparent;
    box-shadow: unset;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}
.v-btn:before {
    background-color: currentColor;
    border-radius: inherit;
    bottom: 0;
    color: inherit;
    content: "";
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity .2s cubic-bezier(.4,0,.6,1);
}
.v-btn__content {
    align-items: center;
    color: inherit;
    display: flex;
    flex: 1 0 auto;
    justify-content: inherit;
    line-height: normal;
    position: relative;
    transition: inherit;
    transition-property: opacity;
}
#reviewSlick .ccc_arrow img {
    transition-duration: .3s;
    transition-timing-function: ease;
    transition-property: transform,opacity,background-color,color;
}
#reviewSlick .ccc_arrow:last-child {
    padding: 10px 14px 10px 18px;
    right: -64.5px;
    z-index: 0;
}
.swiper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 40px 0px !important;
    z-index: 0;
}
.ccc_arrow{
    border: none;
    
}

.navigator-icon{
    height: 40px;
}
@media screen and (max-width:1200px) {
    #ccc_reviews {
        width: 100vw;
        max-width: unset;
    }
}
@media screen and (max-width:720px) {
    #ccc_reviews {
        padding-top: 50.5px;
        padding-bottom: 29.85px;
    }
    #ccc_reviews .ccc_container .ccc_stars {
        margin-bottom: 16px;
    }
    #ccc_reviews .ccc_container .ccc_title {
        margin: 0 auto 30px;
    }
    #ccc_reviews .ccc_container .ccc_subtitle {
        width: 94.375%;
        margin: 0 auto;
        text-align: left;
    }
    #ccc_reviews .ccc_container .ccc_summary {
        grid-auto-flow: row;
        justify-content: center;
        text-align: center;
        grid-gap: 18px;
        gap: 18px;
        padding-bottom: 0;
    }
    #ccc_reviews .ccc_container .ccc_getAccess {
        display: none;
    }
}
