#ccc_plateforme {
    width: 100%;
    max-width: 1037px;
    margin: 0 auto;
    display: grid;
    grid-gap: 30px;
    gap: 30px;
    padding-top: 35.5px;
    background: transparent;
    box-shadow: none;
    padding-bottom: 42px;
}

.v-sheet.v-card:not(.v-sheet--outlined) {
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}
.theme--light.v-card {
    /* background-color: #fff; */
    color: rgba(0,0,0,.87);
}
.v-sheet:not(.v-sheet--outlined) {
    box-shadow: 0 0 0 0 rgb(0 0 0 / 20%), 0 0 0 0 rgb(0 0 0 / 14%), 0 0 0 0 rgb(0 0 0 / 12%);
}
.theme--light.v-sheet {
    /* background-color: #fff; */
    border-color: #fff;
    /* color: rgba(0,0,0,.87); */
}
.v-card {
    border-width: thin;
    /* display: block;
    max-width: 100%; */
    outline: none;
    text-decoration: none;
    transition-property: box-shadow,opacity;
    word-wrap: break-word;
    position: relative;
    white-space: normal;
}

.mainContainerDesktop {
    width: 95%;
    max-width: 1037px;
    margin: 0 auto;
    display: grid;
    grid-gap: 30px;
    gap: 30px;
    padding-top: 35.5px;
    background: transparent;
    box-shadow: none;
    padding-bottom: 42px;
    ;
}
.unSelectedCard{
    background-color: var(--components-dark-theme) !important;
   
}
.unSelectedCard :hover {
    background-color: white;
    transition: all .2s ease-in-out;
    /* color: var(--components-dark-theme);
     */
}
.unSelectedCard :hover  .MuiTypography-root{
    color: var(--components-dark-theme) !important;
}
.unSelectedCard :hover .centerContent svg{
    color: var(--components-dark-theme);
}



.centerContent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}


.selectedWhite{
    color: white;
  
}
.selectedIcon{
    color : var(--components-dark-theme);
}

/* .selectedWhite :hover{
    color: var(--components-dark-theme);
} */

.MuiCardContent-root:last-child {
    padding-bottom: 0px !important;
}

.bottomContainer{
    background-color: var(--components-dark-theme);
    min-height: 10%;
    padding: 48px 55px 56px 30px;
    border-radius: 9px;
}

.bottomContainerResponsive{
    background-color: var(--components-dark-theme);
    min-height: 10%;
    padding: 0;
    border-radius: 9px;
    padding: 21px 3.75vw 26px;
}

.iconStyle{
    text-align: center;
}

.responsiveStyle{
    padding: 4;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.respnsiveSlides{
    min-width: auto;
    max-width: unset;
    grid-auto-flow: column;
    align-items: center;
    justify-content: left;
    grid-gap: 8px;
    gap: 8px;
    padding: 20px 20px 18px 0;
    grid-template-columns: 35.62vw auto;
    height: 85px;
    transition-duration: .3s;
    transition-timing-function: ease;
    transition-property: transform,opacity,background-color,color;
}

.responsive{
    max-width: unset;
    min-width: 100%;
    grid-auto-flow: column;
    align-items: center;
    justify-content: left;
}

@media screen and (max-width :1080px){
    #ccc_web {
        grid-template-columns: 308px auto;
    }
    #ccc_web .ccc_box .ccc_app {
        max-width: 100%;
    }
}

@media screen and (max-width:768px) {
    .mainContainerDesktop {
        padding: 21px 0.75vw 26px !important;
    }
    #ccc_web {
        grid-gap: 0 !important;
        gap: 0 !important;
        grid-auto-flow: row !important;
        grid-template-columns: 100% !important;
    }
    .mainContainerDesktop .ccc_title {
        margin: 0 0 22px !important;
    }
    .mainContainerDesktop .ccc_subtitle {
        margin: 0 0 29px !important;
    }
    .mainContainerDesktop .ccc_btn_open {
        margin: 0 0 47px !important;
    }
    #ccc_web .ccc_box:last-child {
        grid-row: 2/3 !important;
    }
    #ccc_web .ccc_box .ccc_app {
        max-width: 320px !important;
        margin: 0 auto 47px !important;
        width: 100% !important;
    }
}

@media screen and (max-width:420px){
    .mainContainerDesktop .ccc_btn_open, .mainContainerDesktop .ccc_img {
        width: 100%;
    }
}

@media (max-width: 768px){
#ccc_cast .ccc_box {
    grid-column: unset!important;
    grid-row: unset!important;
}}

@media (max-width: 768px){
#ccc_cast .ccc_box img.ccc_img {
    height: auto;
    max-width: 78%;
}}