#ccc_tv {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    grid-template-columns: 39.3% 60.7%;
    align-items: flex-start;
    grid-gap: 39px;
    gap: 39px;
    overflow: hidden;
}
#ccc_tv .ccc_box:first-child {
    grid-column: 1/3;
}
#ccc_tv .ccc_box .ccc_name {
    font-size: 20px;
    font-weight: 900;
    color: #fff;
    display: grid;
    grid-gap: 12px;
    gap: 12px;
    grid-auto-flow: column;
    align-items: center;
    justify-content: start;
    margin: 0 0 16px;
    padding: 0 0 0 8px;
    text-transform: uppercase;
}
#ccc_tv .ccc_box .ccc_buttons {
    display: grid;
    justify-content: left;
    grid-gap: 15px;
    gap: 15px;
    padding: 0 0 0 8px;
}
#ccc_tv .ccc_box .ccc_name {
    font-size: 20px;
    font-weight: 900;
    color: #fff;
    display: grid;
    grid-gap: 12px;
    gap: 12px;
    grid-auto-flow: column;
    align-items: center;
    justify-content: start;
    margin: 0 0 16px;
    padding: 0 0 0 8px;
    text-transform: uppercase;
}
#ccc_tv .ccc_box .ccc_buttons {
    display: grid;
    justify-content: left;
    grid-gap: 15px;
    gap: 15px;
    padding: 0 0 0 8px;
}
#ccc_tv .ccc_box .ccc_notice {
    display: grid;
    grid-gap: 16px;
    gap: 16px;
    padding: 0 0 0 8px;
}
#ccc_tv .ccc_box .ccc_notice .ccc_title {
    font-size: 20px;
    font-weight: 900;
    color: #fff;
}
#ccc_tv .ccc_box .ccc_notice .ccc_subtitle {
    font-size: 17px;
    color: #fff;
    font-weight: 400;
}
#ccc_tv .ccc_box:last-child {
    align-self: flex-start;
    grid-row: 2/5;
}
#ccc_tv .ccc_box .ccc_app {
    width: 100%;
    max-width: 90.5%;
    display: block;
    margin: 0 auto;
}

@media screen and (max-width :1080px){
    #ccc_tv {
        grid-template-columns: 278px auto;
    }
}
@media screen and (max-width:768px){
    #ccc_tv {
        grid-gap: 30px;
        gap: 30px;
        grid-auto-flow: row;
        grid-template-columns: 100% !important;
    }
    #ccc_tv .ccc_box:first-child {
        grid-column: unset;
    }
    #ccc_tv .ccc_box:last-child {
        display: none;
    }
    #ccc_tv .ccc_box .ccc_buttons {
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px 20px;
        gap: 15px 20px;
        padding: 0;
    }
}
@media screen and (max-width:600px) {
    #ccc_tv .ccc_box .ccc_buttons {
        grid-template-columns: 1fr !important;
    }
    .ccc_download{
        width: 98%;
    }
}