@media(max-width: 570px){
    body{
      background-image: url("./pictures/bgmb.png") !important;
      background-repeat: no-repeat;
    }
  }
  body{
    background-image: url("./pictures/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    background-color: #121212;
  } 
  
  
  :root{
    --NetflixRed : #e50914;
    --myBlack: #242121;
  }
  
  body::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
  }
  
  /* navbar css */
  
  .navbar{
    display: inline-flex;
    width: 100%;
    height: 5vh;
    justify-content: space-between;
    font-family: 'Prompt', sans-serif;
    font-weight: 700;
  }
  .navbar ul{
    display: inline-flex;
  }
  .nvb{
    margin: 0 10px; 
    padding: 10px 5px;
    border-radius: 5px;
    border: 1px solid var(--NetflixRed);
    
  }
  .left{
    background-color: transparent;
    border: 1px solid white !important;
    color: white;
  }
  .right{
    background-color: var(--NetflixRed);
  }
  .navbar img{
    min-width: 40%;
    max-width: 50%;
  }
  
  @media (min-width: 570px) {
    #root {
      margin: 0 10%;
      padding: 3rem;
    }
    .phone{
      display: none;
    }
    .mid.middleRight.mobile{
      display: none;
    }
  }
  @media (max-width: 569px) {
  
    #root {
      margin: 0 auto;
      padding: 3rem;
    }
  
    .nvb{
      display: none;
    }
    .phone a{
      display: inline-flex;
      justify-content: right;
      padding-right: px;
    }
    .mid.middleRight.pc{
      display: none;
    }
  }
  
  /* main content css */
  
  .mainContainer{
    display: flex;
    place-content: center;
  }
  
  .tv{
    max-width: 100%;
  }
  
  .middleLeft{
    place-items: left;
    
  }
  
  span{
    color: var(--NetflixRed);
  }
  
  .middleLeft p{
    font-size: 1rem;
    line-height: 150%;
    font-family: 'Sarala', sans-serif;
  }
  
  .middleLeft a,
  .middleLeft a:visited,
  .middleLeft a:hover,
  .middleLeft a:active {
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    border: 2px solid var(--NetflixRed);
    color: var(--NetflixRed);
    font-family: 'Prompt', sans-serif;
    font-weight: 700;
  
  }
  .leftBottom {
    margin-top: 5vh;
    
  }
  .middleLeft h1{
    text-align: left;
    color: white;
    font-family: 'Prompt', sans-serif;
    font-weight: 900;
  }
  .midh1{
    margin-bottom: 5%;
  }
  
  .middleRight img{
    scale: 1;
  }
  
  
  
  @media (min-width: 570px) {
  
    .checkmark{
      width: 2% !important;
    }
  
    .mid{
      min-width: 50%;
      height: 80vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: left;
    }
    .middleLeft h1{
      font-size: 2.5rem;
    }
    .essaieB{
      border: none !important;
      padding: 0 !important;
      text-decoration: underline white !important;
      margin: none !important;
      text-underline-offset: 3px !important;
      color: white !important;
    } 
  }
  @media (max-width: 569px) {
  
    .checkmark{
      width: 4% !important;
    }
    .middleLeft p{
      font-size: 1rem;
      line-height: 140%;
    }
    .mid{
      min-width: 100%;
      height:36vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
    .middleLeft h1{
      font-size: 1.5rem;
      text-align: center;
    }
    .mainContainer{
      flex-wrap: wrap-reverse;
        }
  
  }
  
  .arrowdiv{
    font-family: 'Prompt', sans-serif;
    font-weight: 700;
  }
  
  @media (max-width: 570px) {
    
  
    .arrow{
      width: 7%;
    }
    .page2{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      margin-top: 18%;
    }
  
  }
  @media (min-width: 769px)
  {
    .arrow{
      width: 2%;
    }
    .page2{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      margin-top: 2%;
    }
  }
  
  /* Form essaie styles */
  
  form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    
    .form-group{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 50vh;
      border-radius: 30px;
      background-color: var(--myBlack);
    }
    
    .group{
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 6% 0;
      width: 70%;
    }
    
    input{
      padding: 10px 10px;
    }
  
    .formSubmit{
      width: 70%;
      padding: 10px;
      margin-top: 5%;
      background-color: transparent;
      border: 1px solid var(--NetflixRed);
      border-radius: 3px;
      color: var(--NetflixRed);
    }
    
  
  /*essaie page styling*/
  
  .essaieContainer{
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      width: 100%;
  }
  
  .essaieLeft{
    text-align: left;
  }
  
  .formPageTitle {
    font-family: "Prompt", sans-serif;
    font-size: xx-large;
    font-weight: 700;
    margin-bottom: 5px;
  }
  .remplir{
    font-family: "Prompt", sans-serif;
    font-weight: 600;
    text-decoration: underline;
    margin-bottom: 7px;
  }
  .essaiInfo{
    font-family: 'Sarala', sans-serif;
    font-size: smaller;
  }
  
  @media (min-width: 568px){
    .essaieLeft, .essaieRight{
      width: 30%;
    }
  
  .form-group{
    width: 90%;
  }
  .formPageTitle{
    font-size: 2.5rem;
  }
  
  .essaieContainer{
    height: 70vh;
    margin-top: 30px;
  }
  }
  
  @media (max-width: 569px){
    .essaieLeft, .essaieRight{
      width: 100%;
  }
  .essaiInfo{
    display: none;
  }
  .essaieLeft{
    display: flex;
    align-items: center;
    padding: 17% 20px;
    flex-direction: column;
    height: 15vh !important;
    text-align: center;
  }
  .essaieRight{
    height:60vh !important;
  }
  .essaieContainer{
    flex-direction: column !important;
    height: 70vh;
    margin-top: 30px;
  }
  .form-group{
    width: 90%;
  }
  }
  
  .essaiebutton{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .essaieContainer a{
    padding: 4% 24%;
    border-radius: 10px;
    border: 2px solid var(--NetflixRed);
    background-color: transparent;
    font-family: "prompt", sans-serif;
    font-weight: 700;
    margin-top: 5%;
  }
  
  /* plans */
  
  /* .card{
    background-image: url("./pictures/blob.png");
    background-size: 120%;
    background-position: right;
    background-repeat: no-repeat;
  } */
  
  @media (min-width: 769px)
  {
    .plans{
      width: 100%;
      display: flex;
      justify-content: space-around;
    }
    .card{
      width :23%;
      height: 35vh;
      border-radius: 10px;
      background-color: var(--myBlack);
    }
    .card h1{
      font-weight: 700;
      font-size: 240%;
      margin-bottom: 3%;
    }
  }
  
  @media (max-width: 570px) {
    
    .plans{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }
    .card{
      width :90%;
      height: 35vh;
      border-radius: 10px;
      background-color: var(--myBlack);
    }
    .plansB{
      display: none;
    }
    .card h1{
      font-weight: 700;
      font-size: 200%;
      margin-bottom: 3%;
    }
  }
  
  .card div{
    padding: 10%;
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  .card h5{
   font-family: "prompt", sans-serif;
   font-weight: 700;
   font-size: xx-large;
  }
  .card p{
    font-family: "sarala", sans-serif;
    font-size: x-small;
    margin-bottom: 7%;
    margin-top: 1%;
  }
  .card h1{
    font-family: "prompt", sans-serif;
    font-weight: 700;
    font-size: x-large;
  }
  .card hr{
    width: 100%;
  }
  .card ul{
    font-family: "mukta", sans-serif;
    margin-top: 5%;
    line-height: 18px;
  }
  .card ul li{
    list-style-type: disc;
    margin-left: 9%;
  }
  .choose{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .choose a{
    padding: 8% 53%;
    border-radius: 10px;
    border: 2px solid var(--NetflixRed);
    background-color: transparent;
    font-family: "prompt", sans-serif;
    font-weight: 700;
  }
  
  .card {
    overflow-x: auto;
    overflow-y: hidden;
  }