/* light body  */
body {
    padding-top: 0.1px;
    background-size:max(1440px,100vw) auto!important;
    background-position: top;
    /* transition-duration: .3s;
    transition-timing-function: ease;
    transition-property: transform, opacity, background-color, color; */
    background: var(--bg-dark-shadow) var(--bg-dark-img) no-repeat;
    z-index: 2;
    position: relative;
    min-height: 100vh;
    transition: all 0.2s ease-in-out;
    
    
  }

.ham{
  z-index: 9999;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}