@media (max-width: 575.98px) { 
    .Channels > center > img {
        width: 400px;
        height: 300px;
    }

    .channelsList {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .channelsList > div {
        padding: 30px;
    }

    .vodCard {
        width: 32%;
    }
    
}